{% extends 'driver/base_driver.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/homepage-driver.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
    <header class="header-section">
        <h1><span class="welcome">Welcome to</span> <br> <aspan class="title">Jabatan Alam Sekitar</span> <br> <span class="short-title">JAS</span></h1>
    </header>

    <div class="container">
        <div class="info-box">
            <h2>View Pickup Details</h2>
            <p>Click here to view all your pickup details which were scheduled to you by the operator.</p>
            <a href="{% url 'driver:pickup_details'%}">View Details</a>
        </div>

        <div class="info-box">
            <h2>Complete Pickup</h2>
            <p>Click here to mark your pickups as completed once you have delivered them to the recycling centre.</p>
            <a href="{% url 'driver:complete_pickup'%}">Mark as Complete</a>
        </div>

        <div class="info-box">
            <h2>View Pickup History</h2>
            <p>Click here to view the details of all your previous pickups. All pickups up to 5 years will be displayed</p>
            <a href="{% url 'driver:pickup_history'%}">View History</a>
        </div>
    </div>
{% endblock %}