{% extends 'driver/base_driver.html' %}
{% load static %}

{% block title %} User Profile {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/userprofile-driver.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="main-content">
        <div class="container-top">
            <img id="user" src="{% static 'images/userprofilelogonobg.png' %}" width="200"; height="200"; alt="user profile logo">
            <h1> Your User Profile</h1>
        </div>

        <div class="container">
            <div class="profile-form">
                <label>Name</label>
                <input type="text" class="input-box" value="{{profile.name}}"  disabled>

                <label>Email</label>
                <input type="text" class="input-box" value="{{profile.email}}" disabled>

                <label>Contact Number</label>
                <input type="text" class="input-box" value="{{profile.phoneNumber}}" disabled>

                <label>Car Plate Number</label>
                <input type="text" class="input-box"  value="{{profile.plateNumber}}"  disabled>

                <label>Password</label>
                <div class="password-container">
                    <input type="password" class="input-box password-box" value="{{profile.password}}" disabled>
                    <a href="{% url 'driver:edit_password' %}" id="editpassword">Edit Password</a>
                </div>

                <label>State Covered</label>
                <input type="text" class="input-box"  value="{{profile.stateCovered}}" disabled>
                <a href="{% url 'driver:edit_profile' %}" id="edit-profile">Edit Your Profile</a>
            </div>
        </div>
    </div>

    {% if update_success %}
        <script>
            alert('Profile has been updated');
        </script>
    {% endif %}
</body>

{% endblock %}