<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Driver Detail:</p>
    <p>Name: {{driver.name}}</p>
    <p>Phone Number: {{driver.phoneNumber}}</p>
    <p>Email: {{driver.email}}</p>
    <p>Car Plate Number: {{driver.plateNumber}}</p>
    <br><br>
    <p>Schedule Request Detail:</p>
    <p>Date: {{request.date}}</p>
    <p>Time: {{request.time}}</p>
    <p>Address: {{request.address}}</p>
    <p>Category: {{request.category.itemType}}</p>
    <p>Quantity: {{request.quantity}}</p>
</body>
</html>