* {
    box-sizing: border-box;
}

.container {
    background-color: rgba(245, 248, 238, 0.85);
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    max-height: 600px;
}

body {
    text-align: center;
    margin: 0;
    background-color: #F5F8EE;
    background-image: url("../images/greenleaf.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    background-color: #f8f8ff;
    display: block;
    padding: 1rem;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #f8f8ff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    /* display: block;
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 80%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    max-width: 500px;
    align-items: center;
    justify-content: center; */
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.5rem;
    width: 300px;
}

.submit:hover {
    background-color: #3b39cc;
}

.signup-link {
    color: #6B7280;
    font-size: 1.05rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}

.login {
    margin-top: 30px;
    margin-bottom: 30px;
}

#signup {
    text-decoration: none;
}

#logo:hover {
    cursor: pointer;
}

/* footer */
#embedded-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}