@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meddon&display=swap');

body{
  background-color:#f5f8ee;
}

.title{
  font-family: 'Sansita Swashed', cursive;
  font-size: 32px;
  color: #487319;  
  padding: 10px;
  text-align: center;
  margin-top:15px;
}

.addNew{
  display:block;
  align-items: normal;
  margin-left:16px;
  margin-top:20px;
  margin-bottom:20px;
}

.addNew-text, .addNew-button{
  display:inline-block;
}

.addNew-button{
  margin-left:8px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.text{
  font-weight: 450;
}

.addButton{
  padding: 8px 24px;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color:white;
  background-color:#61b763
}

table {
  border-collapse: collapse;
  overflow: hidden;
  background: white;
  width:95%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: lightgreen;
}

tr{
  height:50px;
}

button {
  background-color: #61b763;
  color: white;
  border: 1px solid white;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 25px;
  font-size:medium;
  transition: background-color 0.15s;
  transition: color 0.15s;
  transition: opacity 0.15s;
  transition: border 0.15s;
}

button:hover {
  background-color:white;
  color:#61b763;
  border: 1px solid #61b763;
}

button:active{
  opacity:0.4;
}

.rewardTable{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50vh;  
  margin-bottom:93px;
}

