<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    footer {
        margin-top: auto;
        color: white;
        width: 100%;
        text-align: center;
        background-color: #97B07A;
        padding: 10px;
        position: flex;
        bottom: 0;
    }
    </style>
</head>

<body>
<div class="footer">
    <footer>Copyright @ 2025 | Jabatan Alam Sekitar JAS E-Waste Service | All Rights Reserved</footer>
</div>
</body>
</html> 