{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Reset Password {% endblock %}</title>
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'e_waste/css/resetpassword.css'%}">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="container">
        <a href="landing.html"><img src="{% static 'images/companylogonobg.png' %}" id="logo" width="400" height="150" alt="company logo"></a>
        <div class="reset-password">
            <form class="form">
                <p class="form-title">Reset your password</p>
                <div class="input-container">
                    <input placeholder="Enter your email" type="email" required>
                </div>
                <button class="submit" type="submit">Send reset link</button>

                <p class="login-link">
                    Log in instead?
                    <a id="login" href="{% url 'login'%}">Click here to log in!</a>
                </p>
            </form>
        </div>
    </div>

    <div id="embedded-footer">
        {% include 'footer.html' %}
    </div>
</body>
{% endblock %}