{% extends 'operator/base_operator.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/editpassword-operator.css' %}">
{% endblock %}

{% block title %}Edit User Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-top">
            {% if operator.profile_picture %}
                <img src="{{ operator.profile_picture.url }}" style="width:200px; height:200px; border-radius:50%" alt="Profile Picture" id="profile-pic-preview">
            {% else %}
                <img src="{% static 'images/userprofilelogo.jpg' %}" style="width:200px; height:200px; border-radius:50%" alt="Profile Picture" id="profile-pic-preview">
            {% endif %}
            <h1>Change Your Password</h1>
        </div>

        <div class="container-bottom">
            <form action="{% url 'operator:edit_password' %}" method="post">{% csrf_token %}

                <input type="password" class="input" name="current" placeholder="Current Password" oninput="setVisible()" required>
                {% if wrong_current %}
                    <p id="visible" style="color:red;">Does not match with your current password</p>
                {% endif %}
                <input type="password" class="input" name="new" placeholder="New Password" oninput="setVisible()" required>
                <input type="password" class="input" name="confirm" placeholder="Re-Enter New Password" required>

                {% if wrong_confirmation %}
                    <p id="visible" style="color:red;">New password does not match with confirmation password</p>
                {% endif %}

                <button type="submit" id="savechanges">Save Changes</button>
            </form>
        </div>
    </div>
{% endblock %}

{%block extra_js%}
    <script>
         function setVisible(){
             const message = document.getElementById('visible');
             message.style.display = 'none';
         }
    </script>

{% endblock %}
