@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meddon&display=swap');

body{
  background-color:#f5f8ee;
  margin:0px;
}
  

.title{
  font-family: 'Sansita Swashed', cursive;
  font-size: 32px;
  color: #487319;  
  padding: 10px;
  text-align: center;
  margin-top:15px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.text{
  font-weight: 450;
}

.completedTable{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 30vh;
  width: 100%; 
  margin-bottom:320px;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top:120px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align:center;
}

th {
  background-color: #8a9b68; /* Greenish Header */
  color: black;
  font-weight: bold;
}

td {
  background-color: #fff;
}

tr{
  height:70px;
}

