{% extends 'customer/base_customer.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/edituserprofile-customer.css' %}">
    {% endblock %}
    <title>Edit User Profile</title>
<!--    <div id="embedded-header"></div>-->
<!--    <div id="embedded-navbar"></div>-->
</head>

{% block content %}
<body>
    <div class="container">
        <div class="container-top">
            <img id="user" src="{% static 'images/userprofilelogonobg.png' %}" width="200" height="200" alt="user profile logo">
            <h1>Change Your Password</h1>
        </div>

        <div class="container-bottom">
            <form method="post" action="{% url 'customer:edit_password' %}"> {% csrf_token %}
                <div class="input-container">
                    <input type="password" name="currentPassword" placeholder="Enter your current password" required>
                </div>

                <div class="input-container">
                    <input type="password" name="newPassword" placeholder="Enter your new password" required>
                </div>
            
                <div class="input-container">
                    <input type="password" name="confirmPassword" placeholder="Re-enter your password" required>
                </div>

                
                <button type="submit" id="savechanges">Save Changes</button>
            </form>
        </div>
    </div>

<!--    <div id="embedded-footer"></div>-->

<!--    <script>-->
<!--        fetch('header-customer.html')-->
<!--          .then(response => response.text())-->
<!--          .then(html => {-->
<!--            document.getElementById('embedded-header').innerHTML = html;-->
<!--        });-->
<!--    </script>-->

<!--    <script>-->
<!--        fetch('navbar-customer.html')-->
<!--        .then(response => response.text())-->
<!--        .then(html => {-->
<!--            document.getElementById('embedded-navbar').innerHTML = html;-->
<!--        });-->
<!--    </script>-->

<!--    <script>-->
<!--        fetch('footer.html')-->
<!--        .then(response => response.text())-->
<!--        .then(html => {-->
<!--            document.getElementById('embedded-footer').innerHTML = html;-->
<!--        });-->
<!--    </script>-->
    {% if Invalid %}
        <script>
            alert('Password must have at least 8 character');
        </script>
    {% endif %}
</body>
{% endblock %}



</html>